NetBeansProject/nbproject/private/
NetBeansProject/build/
NetBeansProject/nbbuild/
NetBeansProject/dist/
NetBeansProject/nbdist/
NetBeansProject/nbactions.xml
NetBeansProject/.nb-gradle/
FourquareNY/
*~
